@import "/public/styles/mixins.scss";

.searchResultContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 75%;
  margin: auto;
  margin-top: 3em;
  font-family: $montserrat-font;
  color: $primary-color;
}
.searchResultCard {
  // width: 33%;
  margin: 2em;
  // margin-bottom: 6em;

  img {
    width: 100%;
  }

  .productHeading {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .iconFloat {
    display: flex;
    justify-content: space-between;
  }

  button {
    background-color: transparent;
    border: none;
  }

  // .imageReturn {
  //   position: relative;
  //   img {
  //     position: absolute;

  //     opacity: 0;
  //     transition: opacity 0.25s ease-in-out;
  //   }
  // }
  // .imageReturn img:first-child {
  //   opacity: 1;
  // }

  // .imageReturn:hover img {
  //   opacity: 1;
  // }

  // .imageReturn:hover img:first-child {
  //   opacity: 0;
  // }
}
