@import "/public/styles/mixins.scss";

$card-background-color: #fff;
$card-shadow-color: rgba(0, 0, 0, 0.1);
$card-shadow-spread: 0;
$card-shadow-blur: 10px;
$card-shadow-offset: 5px;
$card-border-radius: 8px;

.searchResultContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 85%;
  margin: auto;
  margin-top: 3em;
  font-family: $montserrat-font;
  color: $primary-color;
}
.searchResultCard {
  margin: 2em;

  background-color: $card-background-color;
  box-shadow: $card-shadow-offset $card-shadow-offset $card-shadow-blur $card-shadow-color;
  border-radius: $card-border-radius;
  img {
    width: 100%;
  }

  a {
    color: $primary-color;
    text-decoration: none;
  }

  .productHeading {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .iconFloat {
    display: flex;
    justify-content: space-between;
    padding: 0.25em 0.5em;
    a {
      color: $primary-color;
      text-decoration: none;
    }

  }

   .productPrice {
    padding-left: 0.5em;
  }

  button {
    background-color: transparent;
    border: none;
  }
}

@media screen and (max-width: 767px) {
  .searchResultContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 10px;
    h3 {
      font-size: 13px !important;
    }
  }

  .iconFloat {
    font-size: 15px;
    padding: 0.25em 0.5em;
  }

  .searchResultCard {
    margin: 0.5em;

    h3 {
      margin: 0.25em;
    }
    p {
      margin: 0 0 0 0.25em;
      font-size: 12px;
    }
  }
}
