@import "/public/styles/mixins.scss";

body{
    @include bodyStyles;
}

.productContainer{
    @include background;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    gap: 20px;
}
.detailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 50%
}
.detailsContainer h1{
    @include standardText;
    font-size:30px;
    font-weight: 700;
}
.detailsContainer span{
    @include standardText;
    font-size: 20px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}

.addToBasket{
    @include buttonStyles($primary-color,$secondary-color, 197px);
    font-size: 20px;
    padding: 5px;
}
button {
    border: none;
    background-color: transparent;
}

.dropDown{
    display: flex;
    flex-direction: column;
}

h3{
    @include standardText;
    font-size: 20px;
    font-weight: 600;
}

.thumbnails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    img{
        width: 20%;
    }
}
.imagesContainer{
    display: flex;
    flex-direction: row;
    width: 45%;
    img{
        width: 70%;
        height: fit-content;
    }
}
#addedToCart{
    font-style: italic;
    font-weight: 400;
    a{
        color: $primary-color;
        font-weight: 500;
        text-decoration: none;
    }
}
.accordionContainer{
   @include standardText;
   gap: 10px;
   width: 50%;
   display: flex;
   flex-direction: column;
}
.css-1086bdv-MuiPaper-root-MuiAccordion-root::before{
    background-color: transparent;
    
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root:last-of-type {
   border: none;
   background-color: transparent;
   border-radius: 15px;
  
}
.css-1086bdv-MuiPaper-root-MuiAccordion-root:first-of-type{
    border: none;
   background-color: transparent;
   border-radius: 15px;
}
.css-1086bdv-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type, .css-1086bdv-MuiPaper-root-MuiAccordion-root.Mui-expanded:first-of-type {
    background-color: #16552198;
    color: $secondary-color;
    border-radius: 15px;
    #panel2-header, #panel1-header{
        text-decoration: underline;
    }
}

.productContainer{
    height: fit-content;
}
.css-1086bdv-MuiPaper-root-MuiAccordion-root{
    border-radius: 15px;
}
.css-bz4dnt-MuiCollapse-root{
    border-radius: 15px;
}
.accordionHeader{
    font-size: 20px;
    font-weight: 500;
}

.productHeading{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    span{
        font-size: 25px;
    }
    h1{
        font-size: 35px;
    }
}
#detailsDropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width:736px) {
    .productContainer{
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
        padding: 15px;
        justify-content: center;
    }
    .imagesContainer{
        width: 100%;
        justify-content: center;
    }
    .productHeading{
        justify-content: center;
        h1{
            font-size: 25px;
        }
        span{
            font-size: 20px;
        }
    }
    .detailsContainer{
        width: 100%;
    }
    .accordionContainer{
        justify-content: center;
        width: 90%;
    }
}