@import "/public/styles/mixins.scss";

body{
    @include bodyStyles;
}

.productContainer{
    @include background;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    gap: 20px;
}
.detailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 50%
}
.detailsContainer h1{
    @include standardText;
    font-size:30px;
    font-weight: 700;
}
.detailsContainer span{
    @include standardText;
    font-size: 20px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}

.addToBasket{
    @include buttonStyles($primary-color,$secondary-color, 197px);
    font-size: 20px;
    padding: 5px;
}
button {
    border: none;
    background-color: transparent;
}

.dropDown{
    display: flex;
    flex-direction: column;
}

h3{
    @include standardText;
    font-size: 20px;
    font-weight: 600;
}

.thumbnails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    img{
        width: 20%;
    }
}
.imagesContainer{
    display: flex;
    flex-direction: row;
    width: 45%;
    img{
        width: 70%;
        height: fit-content;
    }
}
.accordionContainer{
    background: white;
    border-radius: 12px;
    @include standardText;
    font-weight: 500;
    width: 70%;

    span{
        font-size: 14px;
        font-weight: 300;
    }
}
.productHeading{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#detailsDropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width:736px) {
    .productContainer{
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: auto;
        padding: 15px;
    }
}