@import "/public/styles/mixins.scss";

.sellFormMain {
  margin-top: 3em;
}
.sellFormTitle {
  font-family: $kansas-font;
  text-align: center;
  font-weight: 600;
  color: $primary-color;
  font-size: 30px;
  margin: 2em;
}

.sellersForm form {
  font-family: $montserrat-font;
  display: grid;
  width: 75%;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;

  h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .formP1,
  .formP2,
  .formP3,
  .formP4 {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    padding: 1em;
  }

  label {
    font-size: 15px;
    padding: 0.5em;
  }
  input,
  textarea,
  select {
    padding: 0.5em;
    font-family: $montserrat-font;
    border-radius: 8px;
    border: 1px solid rgba(3, 48, 10, 0.34);
  }
  .requiredField {
    color: red;
  }
  button {
    background-color: $primary-color;
    font-family: $montserrat-font;
    color: $secondary-color;
    width: 50%;
    height: 40px;
    padding: 0.75em;
    border: none;
    border-radius: 8px;
  }
}

@media screen and (max-width: 576px) {
  .sellFormTitle {
    font-size: 25px;
  }
  .sellersForm {
    form {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
    h3 {
      font-size: 17px !important;
    }

    label {
      margin-top: 0.75em;
      font-size: 12px;
    }
  }

  button {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 667px) {
  .sellFormTitle {
    font-size: 25px;
  }
  .sellersForm {
    form {
      grid-template-columns: repeat(1, 1fr);
      width: 100% !important;
    }
    h3 {
      font-size: 18px !important;
    }

    label {
      margin-top: 0.75em;
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 667px) and (max-width: 992px) {
  .sellFormTitle {
    font-size: 25px;
  }
  .sellersForm {
    form {
      width: 100%;
    }
    h3 {
      font-size: 18px !important;
    }

    label {
      margin-top: 0.75em;
      font-size: 15px;
    }
  }
}
