@import '/public/styles/mixins.scss';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 1rem; */
  /* background-color: $cards-bgcolor; */
  background-color: #ffffff;
  width: 25%;
  height: 25vh;
  /* border: 1px solid crimson; */
}

.card h3 {
  margin-bottom: 4rem;
}

.card-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #03300a;
  cursor: pointer;
}

.card-link:hover {
  background-color: #f5f5f5;
}
