@import "/public/styles/mixins.scss";

//hamburger styling
.menu {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
}

#hamburger {
  background: transparent;
  border: none;
}

.navigationLinkContainer {
  display: flex;
  justify-content: space-evenly;
  font-family: $montserrat-font;
  font-size: 18px;
  margin: auto;
  list-style: none;

  ul {
    list-style: none;
    padding-left: 0;
  }

  .navigationLink {
    padding: 2em;
    a {
      color: $tertiary-color;
      text-decoration: none;
    }

    a:hover {
      font-weight: 500;
      text-decoration: underline;
    }
  }
}
// why is this not changing colour!
.saleLink {
  a {
    color: $sale-color !important;
  }
}
.menuLevel2 {
  display: none;
  justify-content: start;
  font-family: $kansas-font;
  padding: 1em;
  transition: 0.3s ease-in;
}

.menuItem {
  display: flex;
  position: absolute;
  justify-content: start;
  left: 0;
  width: 100%;
  background-color: $secondary-color;
  padding: 1em;
  line-height: 30px;
}

.navigationLink:hover .menuLevel2 {
  display: flex;
  transition: 0.3s;
}
.menuLevel3 {
  font-family: $montserrat-font;
  ul {
    padding-left: 0;
  }
}

.heading {
  padding: 2em;
}
// searchbar & header styling

body {
  margin: auto;
}
.headerFlex {
  display: flex;
  padding: 1.5em;
  justify-content: space-between;
}

.headerIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  li {
    list-style: none;
    padding-left: 0.75em;
    padding-right: 0.5em;
    font-size: 22px;
  }

  a {
    color: $tertiary-color;
  }

  a:hover {
    color: #c7bfb3;
  }

  .signinLink {
    border: solid 2px $tertiary-color;
    border-radius: 8px;
    padding: 0.25em 1em;
    font-size: 18px;
    margin-top: -0.25em;
    text-decoration: none;
    list-style-type: none !important;
  }

  .signinLink:hover {
    border: solid 2px #c7bfb3;
  }

  .sellLink {
    border: solid 2px $tertiary-color;
    border-radius: 8px;
    padding: 0.25em 1em;
    font-size: 18px;
    margin-top: -0.25em;
    text-decoration: none;
  }

  .sellLink:hover {
    border: solid 2px #c7bfb3;
  }
}

.searchIcon {
  color: $tertiary-color;
  padding-top: 0.25em;
}

.searchForm {
  display: flex;
  align-items: start;
  input {
    padding: 0.5em;
    font-family: $montserrat-font;
    font-size: 15px;
    border: none;
    width: 250px;
  }
}

// .menuLv2 {
//   display: none;
// }

// .menuLv2:hover {
//   display: block;
// }
@media (max-width: 799px) {
  .navigationContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navigationLinkContainer {
    display: none;
  }
  .headerFlex {
    width: 100%;
    margin-left: 3em;
    flex-direction: row-reverse;
    align-items: start;
    padding: 1em;
    img {
      display: none;
    }
    .searchForm {
      margin: 1em;
      margin-left: 2.5em;
    }
  }

  #hamburger {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.5em;
    padding: 2em;
    .hamburgerLine {
      width: 40px;
      height: 5px;
      background-color: $tertiary-color;
    }
  }
}
