@import "/public/styles/mixins.scss";

.homepageQuickLinkHeading {
  @include pageHeadings;
  margin: 2em;
}

.quickLinksMaster {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quickLinkContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 0;
  li {
    list-style: none;
  }
}

.quickLinkText {
  a {
    font-family: $montserrat-font;
    color: $primary-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    font-weight: 600;
  }
}
.quickLinkItem {
  padding: 2em 2.5em;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

// ***************** media queries ***************

@media screen and (max-width: 576px) {
  .quickLinksMaster {
    h2 {
      font-size: 24px;
    }
  }
  .quickLinkContainer {
    grid-template-columns: repeat(2, 1fr);

    .quickLinkItem {
      padding: 1em 1em;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .quickLinksMaster {
    h2 {
      font-size: 26px;
    }
  }
  .quickLinkContainer {
    grid-template-columns: repeat(3, 1fr);

    .quickLinkItem {
      padding: 1.25em 1.25em;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .quickLinksMaster {
    h2 {
      font-size: 28px;
    }
  }

  .quickLinkItem {
    padding: 1.25em 1.25em;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
