@import "/public/styles/mixins.scss";

body {
  @include bodyStyles;
}

// main {
//   margin: auto;
// }
.homepageContainer {
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstSecondInfoCard {
  margin-top: 2.5em;
}
.firstSecondInfoCard,
.thirdFourthInfoCard {
  display: flex;
}

@media screen and (max-width: 576px) {
  .firstSecondInfoCard,
  .thirdFourthInfoCard {
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .firstSecondInfoCard,
  .thirdFourthInfoCard {
    width: 85%;
    flex-direction: column;
    margin: 0 auto;
  }
}
