@import "/public/styles/mixins.scss";

.contact {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally on larger screens */
  margin: 0 auto; /* Center vertically with some adjustments */
  max-width: 1660px; /* Set a maximum width for responsiveness */
  padding: 1rem;
  font-family: $montserrat-font;
  color: $primary-color;

  //   border: 1px solid red;

  .contactHeading,
  .termsConditionsHeading {
    @include pageHeadings;
    text-align: center;
    margin: 2em 0 1em 0;
  }
  .telephoneSection,
  .emailSection {
    font-size: 21px;
  }

  .contactSubHeading {
    height: 50px;
    h3 {
      font-weight: 500;

      padding: 0;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    border-radius: 4px;

    h3,
    p {
      align-self: center;
    }

    h6 {
      display: flex;
      flex-direction: column;
      font-weight: 400;

      span {
        padding-top: 0.5rem;
        display: block;
        align-self: center;
      }
    }
  }

  p,
  h6 {
    margin-bottom: 0.25rem;
  }

  h6 span {
    display: block; /* Break long opening hours text into multiple lines */
    // flex-direction: column;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    .contactHeading,
    .termsConditionsHeading {
      margin: 1.5em 0 0.75em 0;
      font-size: 21px;
    }
    .telephoneSection,
    .emailSection {
      font-size: 16px;
    }
  }
}
