@import "/public/styles/mixins.scss";
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  .faqHeading {
    @include pageHeadings;
    margin: 2em;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.accordion {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  height: 100px; /* Consistent height for accordions */
  border-radius: 8px;
}

.collapsed,
.expanded {
  padding: 1rem;
  border: none;
  background-color: $secondary-color;
  border-radius: 8px;
  cursor: pointer;
  flex: 1; /* Fill available space within accordion */
  display: flex;
  align-items: center;
  font-family: $montserrat-font;
  font-size: 15px;
}

.expanded {
  background-color: $secondary-color;
}

.content {
  padding: 0.5rem; /* Adjust padding if needed for content spacing */
  font-family: $montserrat-font;
  background-color: $secondary-color;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .faqHeading {
    font-size: 21px !important;
    margin: 1em !important;
  }
}

// .faq-lower-section {
//   display: flex;
//   flex-direction: column;
//   align-items: center; /* Center horizontally */
//   margin: 0 auto; /* Center vertically with some adjustments */
//   max-width: 800px; /* Set a maximum width for responsiveness */
//   padding: 1rem;

//   h2,
//   h3 {
//     margin-bottom: 0.5rem;
//   }

//   .phone-help,
//   .email-help,
//   .terms-help {
//     margin-bottom: 1rem;
//     padding: 1rem;
//     border: 1px solid #ddd;
//     border-radius: 4px;
//   }

//   p,
//   h6 {
//     margin-bottom: 0.25rem;
//   }

//   h6 span {
//     display: block; /* Break long opening hours text into multiple lines */
//   }

//   @media (max-width: 768px) {
//     flex-direction: column; /* Stack elements on mobile */
//   }
// }
