@import "/public/styles/mixins.scss";

// ************ homepage cards styling ************

body {
  @include bodyStyles;
}

.cardFlex {
  margin: 1em;
  height: 267px;

  img {
    @include homepageCardImg(50%);
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.5em;
    width: 50%;
    p {
      @include standardText;
      font-weight: $text-weight;
    }
    h3 {
      font-family: $kansas-font;
      font-size: 27px;
    }
  }
}

#sale {
  @include homepageCards($sale-color, $secondary-color, 45vw);
  p {
    color: $secondary-color;
  }
  button {
    @include buttonStyles($secondary-color, $sale-color, 75%);
    // margin-top: 0.5em;
    // margin-left: 0.5em;
  }
  a {
    color: $sale-color;
    text-decoration: none;
  }
}

#homeDecor {
  @include homepageCards(#130e3f, $secondary-color, 45vw);

  p {
    color: $secondary-color;
  }

  button {
    @include buttonStyles($secondary-color, #130e3f, 75%);

    // margin: 0.75em 0.5em;
  }
  a {
    color: #130e3f;
    text-decoration: none;
  }
}

#throws {
  @include homepageCards(#ddc7a6, $primary-color, 35vw);

  img {
    border-radius: 50%;
  }

  button {
    @include buttonStyles($primary-color, $secondary-color, 75%);
  }
  .cardInfo {
    background-color: white;
    width: 100%;
    padding: 0.5em;
  }
  a {
    color: $secondary-color;
    text-decoration: none;
  }
}

// ***************** media queries ***************
// max 576px
@media screen and (max-width: 556px) {
  .cardFlex {
    max-width: 95%;
    margin: 1em 0.5em;
    height: 200px;
  }

  #sale,
  #homeDecor,
  #throws {
    width: 100%;
    border: none;
    h3 {
      font-size: 15px;
      padding: 0.5em 0;
    }

    p {
      font-size: 13px;
      padding: 0;
      margin: 0;
    }
  }

  #throws {
    img {
      border-radius: 8px;
    }
  }
  img {
    object-fit: contain;
    width: 45%;
  }
  .cardInfo {
    width: 100%;

    button {
      width: 85% !important;
      height: 27px !important;
      font-size: 12px;
      margin: 1.5em 0 !important;
    }
  }
}

// 576px-768px
@media screen and (min-width: 576px) and (max-width: 767px) {
  .cardFlex {
    height: 270px;
    img {
      object-fit: fill;
      width: 40%;
    }

    .cardInfo {
      width: 60%;
      h3 {
        margin: 0;
        font-size: 20px;
      }
    }
  }
  #sale,
  #homeDecor,
  #throws {
    width: 100%;
    border: none;
  }
}

// 768px-992px
@media screen and (min-width: 767px) and (max-width: 992px) {
  .cardFlex {
    margin: 0.25em;
    height: 220px;
    img {
      width: 50%;
    }
    .cardInfo {
      padding: 0.5em;

      p {
        margin: 0;
        font-size: 14px;
      }
      h3 {
        font-size: 20px;
      }
    }
    #sale,
    #throws {
      margin-top: 1.5em;
    }
    button {
      margin-top: 1em;
      width: 150px !important;
    }
  }
  #homeDecor {
    padding-top: 0.5em;
    margin-top: 0;
  }

  #throws {
    width: 40vw;
    img {
      margin: auto;
      height: 70%;
      width: 70%;
      .cardInfo {
        width: 30%;
      }
    }
  }
  #sale,
  #homeDecor {
    width: 50vw;
  }
}
// 992px-1200px
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .cardFlex {
    // margin: 0.25em;
    height: 240px;
    img {
      width: 50%;
    }
    .cardInfo {
      padding: 0.5em;

      p {
        margin: 0;
        font-size: 14px;
      }
      h3 {
        font-size: 20px;
      }
    }
    #sale,
    #throws {
      margin-top: 1.5em;
    }
    button {
      margin-top: 1em;
      width: 90% !important;
    }
  }
  #homeDecor {
    padding-top: 0.5em;
    margin-top: 0;
  }

  #throws {
    width: 38vw;
  }
  #sale,
  #homeDecor {
    width: 50vw;
  }
}
// 1200px-1400px
@media screen and (min-width: 1200px) and (max-width: 1400px) {
}
// min 1400px
@media screen and (min-width: 1400px) {
}
